[user]
    name = solo2121
    email = miguel_carlo@msn.com

[credential]
    credentialstore = secretservice

[credential "https://dev.azure.com"]
    useHttpPath = true

[credential "https://gitlab.com"]
    helper = /usr/local/bin/git-credential-manager

[credential "https://github.com"]
    helper = /usr/local/bin/git-credential-manager

[core]
    editor = nano
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
    autocrlf = input
    sshCommand = ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes

[remote "origin"]
    url = https://github.com/solo2121/my-project.git
    fetch = +refs/heads/*:refs/remotes/origin/*

[pull]
    rebase = true

[push]
    default = current

[color]
    ui = true

[merge]
    conflictstyle = diff3

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit -m
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[init]
    defaultBranch = main
